env=prod
spark.master=yarn

metastore.mode=remote
hive.metastore.uris=thrift://hive-metastore:9083
warehouse.path=s3a://company-data-lake/warehouse

input.path=s3a://company-data-lake/raw/ecommerce
output.path=s3a://company-data-lake/ecommerce/activity_events
manifest.path=s3a://company-data-lake/ecommerce/_manifests/activity_events

database=ecommerce
table=activity_events

session.gap.seconds=300

csv.header=true
